<a href="https://colab.research.google.com/github/chaudharishital/data-science1/blob/main/Admission_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
import seaborn as sns
from sklearn import datasets, linear_model, metrics

In [11]:
df=pd.read_csv("/Admission_Predict.csv")

In [4]:
df

     Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0             1        337          118  ...  9.65         1              0.92
1             2        324          107  ...  8.87         1              0.76
2             3        316          104  ...  8.00         1              0.72
3             4        322          110  ...  8.67         1              0.80
4             5        314          103  ...  8.21         0              0.65
..          ...        ...          ...  ...   ...       ...               ...
395         396        324          110  ...  9.04         1              0.82
396         397        325          107  ...  9.11         1              0.84
397         398        330          116  ...  9.45         1              0.91
398         399        312          103  ...  8.78         0              0.67
399         400        333          117  ...  9.66         1              0.95

[400 rows x 9 columns]

In [6]:
! pip install pandas==0.25

Collecting pandas==0.25
  Downloading pandas-0.25.0-cp37-cp37m-manylinux1_x86_64.whl (10.4 MB)
     |████████████████████████████████| 10.4 MB 24.7 MB/s
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from pandas==0.25) (2.8.2)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from pandas==0.25) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas==0.25) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.6.1->pandas==0.25) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
xarray 0.18.2 requires pandas>=1.0, but you have pandas 0.25.0 which is incompatible.
google-colab 1.0.0 requires pandas~=1.1.0; python_version >= "3.0", but you have pandas 0.25.0 which is incompatible.
fbprophet 0.7.1 requires pandas>=1.0.4, but you have pandas 0.25.0 which is incompatible.
Successfully installed pandas-0.25.0

In [12]:
 import pandas_profiling

In [13]:
profile = pandas_profiling.ProfileReport(df)
profile

TypeError: ignored

In [14]:
df.head(2)

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76

[2 rows x 9 columns]

In [15]:
df['GRE Score']=df['GRE Score'].fillna(df['GRE Score'].mean())

In [16]:
df['TOEFL Score']=df['TOEFL Score'].fillna(df['TOEFL Score'].mean())

In [17]:
df['University Rating']=df['University Rating'].fillna(df['University Rating'].mean())

In [18]:
df.describe()

       Serial No.   GRE Score  ...    Research  Chance of Admit
count  400.000000  400.000000  ...  400.000000        400.000000
mean   200.500000  316.807500  ...    0.547500          0.724350
std    115.614301   11.473646  ...    0.498362          0.142609
min      1.000000  290.000000  ...    0.000000          0.340000
25%    100.750000  308.000000  ...    0.000000          0.640000
50%    200.500000  317.000000  ...    1.000000          0.730000
75%    300.250000  325.000000  ...    1.000000          0.830000
max    400.000000  340.000000  ...    1.000000          0.970000

[8 rows x 9 columns]

In [19]:
df1=df
df1.drop('University Rating',axis=1,inplace=True)

In [20]:
df.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 8 columns]

In [37]:
df

     GRE Score  TOEFL Score  SOP  LOR   CGPA  Research  Chance of Admit
0          337          118  4.5   4.5  9.65         1              0.92
1          324          107  4.0   4.5  8.87         1              0.76
2          316          104  3.0   3.5  8.00         1              0.72
3          322          110  3.5   2.5  8.67         1              0.80
4          314          103  2.0   3.0  8.21         0              0.65
..         ...          ...  ...   ...   ...       ...               ...
395        324          110  3.5   3.5  9.04         1              0.82
396        325          107  3.0   3.5  9.11         1              0.84
397        330          116  5.0   4.5  9.45         1              0.91
398        312          103  3.5   4.0  8.78         0              0.67
399        333          117  5.0   4.0  9.66         1              0.95

[400 rows x 7 columns]

In [21]:
df

     Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0             1        337          118  ...  9.65         1              0.92
1             2        324          107  ...  8.87         1              0.76
2             3        316          104  ...  8.00         1              0.72
3             4        322          110  ...  8.67         1              0.80
4             5        314          103  ...  8.21         0              0.65
..          ...        ...          ...  ...   ...       ...               ...
395         396        324          110  ...  9.04         1              0.82
396         397        325          107  ...  9.11         1              0.84
397         398        330          116  ...  9.45         1              0.91
398         399        312          103  ...  8.78         0              0.67
399         400        333          117  ...  9.66         1              0.95

[400 rows x 8 columns]

In [23]:
x=df.drop(columns=['Chance of Admit '])

In [22]:
x

     Serial No.  GRE Score  TOEFL Score  ...  LOR   CGPA  Research
0             1        337          118  ...   4.5  9.65         1
1             2        324          107  ...   4.5  8.87         1
2             3        316          104  ...   3.5  8.00         1
3             4        322          110  ...   2.5  8.67         1
4             5        314          103  ...   3.0  8.21         0
..          ...        ...          ...  ...   ...   ...       ...
395         396        324          110  ...   3.5  9.04         1
396         397        325          107  ...   3.5  9.11         1
397         398        330          116  ...   4.5  9.45         1
398         399        312          103  ...   4.0  8.78         0
399         400        333          117  ...   4.0  9.66         1

[400 rows x 8 columns]

In [24]:
y=df['Chance of Admit ']

In [25]:
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
scaler=StandardScaler()

In [28]:
arr=scaler.fit_transform(x)

In [57]:
df1=pd.DataFrame(arr)

In [29]:
df1.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 8 columns]

In [30]:
profile = pandas_profiling.ProfileReport(df1)
profile

TypeError: ignored

In [31]:
df1.describe()

       Serial No.   GRE Score  ...    Research  Chance of Admit
count  400.000000  400.000000  ...  400.000000        400.000000
mean   200.500000  316.807500  ...    0.547500          0.724350
std    115.614301   11.473646  ...    0.498362          0.142609
min      1.000000  290.000000  ...    0.000000          0.340000
25%    100.750000  308.000000  ...    0.000000          0.640000
50%    200.500000  317.000000  ...    1.000000          0.730000
75%    300.250000  325.000000  ...    1.000000          0.830000
max    400.000000  340.000000  ...    1.000000          0.970000

[8 rows x 8 columns]

In [32]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [33]:
arr

array([[-1.72772608,  1.76210664,  1.74697064, ...,  1.16732114,
         1.76481828,  0.90911166],
       [-1.7190658 ,  0.62765641, -0.06763531, ...,  1.16732114,
         0.45515126,  0.90911166],
       [-1.71040552, -0.07046681, -0.56252785, ...,  0.05293342,
        -1.00563118,  0.90911166],
       ...,
       [ 1.71040552,  1.15124883,  1.41704229, ...,  1.16732114,
         1.42900622,  0.90911166],
       [ 1.7190658 , -0.41952842, -0.72749202, ...,  0.61012728,
         0.30403584, -1.09997489],
       [ 1.72772608,  1.41304503,  1.58200646, ...,  0.61012728,
         1.78160888,  0.90911166]])

In [36]:
vif_df=pd.DataFrame()

In [37]:
vif_df['vif']=[variance_inflation_factor(arr,i) for i in range(arr.shape[1])]

In [40]:
vif_df['features']=x.columns

In [42]:
vif_df

        vif     features
0  1.072988   Serial No.
1  4.607021    GRE Score
2  4.310625  TOEFL Score
3  2.855431          SOP
4  2.370295         LOR
5  5.200953         CGPA
6  1.542460     Research

In [41]:
vif_df.columns

Index(['vif', 'features'], dtype='object')

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
x_train,x_test,y_train,y_test=train_test_split(arr,y,test_size=0.25)

In [50]:
y_train.shape

(300,)

In [56]:
import sklearn.linear_model.LinearRegression

ModuleNotFoundError: ignored

In [59]:
lr=linear_model.LinearRegression()

In [60]:
lr.fit(x_train,y_train)

LinearRegression()

In [61]:
import pickle

In [62]:
pickle.dump(lr,open('admission.pickle','wb'))

In [63]:
!ls

admission.pickle  sample_data

# New Section